.main {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-self: center;
    flex-wrap: wrap;
    height: 95%;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-self: center;
    flex-wrap: wrap;
    margin-bottom: 250px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.containerbtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnadd{
    width: 100px;
    height: 50px;
    background-color: #252525;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px;
}
.container .item {
    margin: 10px;
    width: 25%;
}



.footer {
    padding-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #252525;
}

.left_footer div,
.center_footer div,
.right_footer div {
    color: white;
    margin-top: 20px;
}

.center_footer {
    padding-bottom: 17px;
}

.right_footer {
    padding-bottom: 70px;
}

.lv1 {
    font-size: 16px;
}

.lv2 {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.lv3 {
    font-size: 12px;
    display: flex;
    align-items: center;

}

.boder_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boder_input {
    display: flex;
    justify-content: center;
    align-items: end;
}

.boder_input div {
    border-bottom: 1px solid white;
    margin-right: 10px;
}

input {
    background-color: #252525;
    border: none;
}

button {
    height: 30px;
    width: 75px;
}

input::placeholder {
    color: white;
    /* Màu bạn muốn */
}

.list {
    width: 100%;
}
#listtitle div{
    font-size: 22px;
}
.liitem {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;

    div {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        margin: 0 5px;
        width: 10%;
    }
    .liname{
        width: 50%;

    }
}

.liimg {
    width: 40px;
    height: 40px;
}
.containerinput{

    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .form-group {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
  
      input {
        color: #ccc;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }
    }
  }